<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Manage Devices</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary action"><i class="glyphicon glyphicon-plus"></i> Add </button>
                                <button type="button" class="btn btn-success action" disabled><i class="glyphicon glyphicon-edit"></i> Update </button>
                                <button type="button" class="btn btn btn-danger action" disabled><i class="glyphicon glyphicon-trash"></i> Delete </button>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <form>
                                    <div class="mb-3 row">
                                      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                                      <div class="col-sm-3 col-xs-9 col-sm-auto">
                                        <input id="table-filtering-search" class="form-control" type="text">
                                      </div>
                                    </div>
                                </form>

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                      <th scope="col">UID</th>
                                      <th scope="col" sortable="country">Vendor</th>
                                      <th scope="col" sortable="area">Date</th>
                                      <th scope="col" sortable="population" >Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <td scope="row"></td>
                                      <td scope="row"></td>
                                      <td scope="row"></td>
                                      <td scope="row"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between p-2">
                               
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
