 <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Manage Gateways</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary action" (click)="showModal()"><i class="glyphicon glyphicon-plus"></i> Add </button>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row action">
                                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                                    <div class="col-sm-3 col-xs-9 col-sm-auto">
                                    <input id="table-filtering-search" class="form-control" type="text" [(ngModel)]="searchText">
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Serial Number</th>
                                            <th>IP v4</th>
                                            <th>Name</th>
                                            <th>Total Devices</th>
                                            <th colspan="2">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor='let g of listGateway | filterGateway:searchText'>
                                          <td>{{ g.serialNumber }}</td>
                                          <td>{{ g.ip4 }}</td>
                                          <td>{{ g.name }}</td>
                                          <td>{{ g.devices.length }}</td>
                                          <td> <input type="button" class="btn btn-success" value="Edit" (click)="editRow(g)"/></td>
                                          <td> <input type="button" class="btn btn btn-danger" value="Delete" (click)="showConfirm(g)"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-between p-2">
                                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                                    </ngb-pagination>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
